$text-color: #7a7156;
$color: #ddb2d4;
$color-2: #a19e93;
$bg-color: #edbfe3;

.Main {
  width: 100%;
  height: auto;
  position: relative;
  padding: 150px 0;

  .container {
    width: 1200px;
    height: auto;
    margin: 0 auto;

    .Main-section {
      width: 100%;
      height: auto;

      .section-old {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          p {
            color: $text-color;
            font-family: monospace;
            font-size: 20px;
            font-weight: normal;
          }

          h1 {
            color: $text-color;
            font-size: 65px;
            margin: 20px 0;
          }
        }
      }

      .section-end {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 60%;
          height: auto;
          object-fit: cover;
        }

        .text {
          width: auto;
          height: auto;
          text-align: start;

          h3 {
            color: $text-color;
            font-family: monospace;
            font-size: 32px;
            font-weight: 900;
          }

          ol {
            width: auto;

            li {
              font-size: 22px;
              color: $text-color;
              font-family: monospace;
              margin: 15px 0;
            }
          }
        }
      }
    }

    .Main-section-vido{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        .vido-section-chiled{
            width: 100%;
            height: auto;
            margin: 35px 0;

          
            .text{
                width: 100%;
                height: auto;
                text-align: start;
                
                h1{
                    color: $text-color;
                    font-size: 45px;
                    text-transform: uppercase;



                    span{
                        font-size: 30px;
                        font-weight: 400;
                        
                    }

                     

                }

            }

            .Video{
                width: 100%;
                height: 450px;
                border-radius: 20px;
                margin: 15px 0;

            }

        }

    }
  }

}
