$text-color: #7a7156;
$color: #ddb2d4;
$color-2: #a19e93;
$bg-color: #edbfe3;

.header {
  width: 100%;
  height: auto;
  position: relative;
  background: $bg-color;
//   top: 100px;
  overflow: hidden;

  .container {
    width: 1200px;
    height: 730px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-text {
      width: 450px;
      height: auto;

      h1 {
        color: $text-color;
        font-size: 85px;
        font-weight: normal;
      }

      p {
        color: rgba(255, 255, 255, 1);
        font-family: monospace;
        font-size: 18px;
        font-weight: normal;
        margin: 15px 0;
      }

      button {
        color: #2b2000; /* Matn rangi */
        border: 2px solid #d9b44b; /* Border rangi va o'lchami */
        border-radius: 10px; /* Burchaklarni yumaloqlash */
        padding: 18px 80px; /* Ichki masofa */
        font-size: 18px; /* Matn o'lchami */
        font-weight: bold; /* Matn qalinligi */
        box-shadow: inset 0 0 0 1px #000; /* Ichki chet chizig'i */
        cursor: pointer;
        outline: none;
        margin: 15px 0;
        background: linear-gradient(
          85.95deg,
          #fad167 0.32%,
          #ffe68f 60.58%,
          #ffe08f 120.85%
        );
        margin: 35px 0;

        &:hover {
          background-color: #f5d05a;
        }
      }

    }

    .header-img {
      width: 550px;
      height: auto;
      // position: absolute;

      img {
        width: 800px;
        height: auto;
        position: absolute;
        top: 90px;
        right: 60px;
      }
    }


  }
}
