$text-color: #7a7156;
$color: #ddb2d4;
$color-2: #a19e93;
$bg-color: #edbfe3;

.katalog{
    width: 100%;
    height: auto;


    .container{
        width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;


        .katalog-text{
            width: 100%;
            height: auto;
            text-align: start;


            h1{
                font-size: 64px;
                text-transform: uppercase;
                color: $text-color;
            }
            p{
                color: $color-2;
                font-size: 25px;
                font-weight: 600;

            }

        }


        .parent-katalog{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            justify-content: center;
            padding: 50px 0;


            .katalog-chiled{
                width: 360px;
                height: 420px;
                background: rgb(174, 174, 174);
                border-radius: 10px;


            }

        }
       

    }

}